.App {
  text-align: center;
  height: 1000px;
  overflow: scroll;
  //background-color: #f4b9d4;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
}

.App-header {
  background-color: #239ef4;
  height: 350px;
  padding: 20px;
  color: #7aff4d;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

  /*from { transform: transparentize(0px); }
  to { transform: transparentize(100px); }*/

}


.img1{
  width: 300px;
  height: 300px;
}
